input[type="range"] {
  accent-color: #007bff;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    #007bff var(--progress),
    #ddd var(--progress)
  );
  height: 5px;
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {
  background: linear-gradient(
    to right,
    #007bff var(--progress),
    #ddd var(--progress)
  );
  height: 5px;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  background: #007bff;
  border: 2px solid #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
  position: relative;
}
