<div class="text-center mt-3 mt-3">
  <h4>
    {{ title }}
  </h4>
</div>
<div class="container">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink routerLink="project/add" routerLinkActive="active">
        Add Project
      </button>
      <ng-template ngbNavContent>
        <router-outlet></router-outlet>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink routerLink="task/add" routerLinkActive="active">
        Add Task
      </button>
      <ng-template ngbNavContent>
        <router-outlet></router-outlet>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <button ngbNavLink routerLink="user/add" routerLinkActive="active">
        Add User
      </button>
      <ng-template ngbNavContent>
        <router-outlet></router-outlet>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <button ngbNavLink routerLink="task/view" routerLinkActive="active">
        View Task
      </button>
      <ng-template ngbNavContent>
        <router-outlet></router-outlet>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
